:root {
    --background-color: #DFF2FD;
    --secondary-color: #9CD4D8;
    --third-color: #86a8e7;
    --main-font: 'Avenir Next';
    --main-font-size: 24px;
    --secondary-font-size: 16px;
    --text-color: #000;
    --margin: 2rem;
    --shadow: 0 10px 20px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

body {
    background-color: #DFF2FD;
    margin-top: var(--margin);
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

h1 {
    font-size: var(--main-font-size);
    font-family: var(--main-font);
    text-align: center;
}

h2 {
    font-size: var(--secondary-font-size);
    font-weight: 400;
    font-family: var(--main-font);
    font-weight: 300;
    text-align: center;
}

p1,
p2,
p3,
p4 {
    font-family: var(--main-font);
    text-align: center;
    font-size: 14px;
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: var(--main-font);
    font-size: var(--main-font-size);

}

li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    padding: .5rem;
}

li:hover {
    transform: scale(1.06);
}

.headerWrapper {
    width: 100vw;
    display: grid;
    grid-row-gap: var(--margin);
    grid-column-gap: var(--margin);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        '. headerImgs .'
        '. line .'
        '. musikWrapper .'
        '. title .'
        '. search .'
        '. sort_by .'
        '. nav .'
}

.menuLines {
    margin: 0 0 2em 0;
}

.fancy {
    line-height: 0.5;
    text-align: center;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    top: 0;
    width: 25vw;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.headerImages {
    grid-area: headerImgs;
    display: flex;
    justify-content: space-between;

}

.search {
    grid-area: search;
    display: flex;
    justify-content: center;
}

/*input {
    border-radius: 16px;
    background-color: var(--secondary-color);
}*/

/*.search1 {
    border-radius: 16px;
    margin-left: 5px;
    font-family: var(--main-font);
}*/

.eventInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin: 0 2rem 0 2rem;

}

.imgFlex {
    grid-area: coverImg;
    margin: 2rem 2rem -1rem 2rem;
    display: flex;
    justify-content: center;
}

article {
    width: 100vw;
    display: grid;
    grid-row-gap: var(--margin);
    grid-column-gap: var(--margin);
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-areas:
        '. header .'
        '. coverImg .'
        '. eventInfo .'
        'footer footer footer'
}

.SoMe {
    margin: 0.5rem;
}

.musikWrapper {
    grid-area: musikWrapper;
    display: flex;
    justify-content: center;
}

.line {
    grid-area: line;
    width: 80vw;
    border: 2px solid #000;
}

.home {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
}

.homeFlex {
    display: flex;
    justify-content: center;
    margin-top: var(--margin);
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.home:hover {
    transform: scale(1.06);
}

.cover:hover {
    transform: scale(1.06);
    cursor: pointer;
    */
}

.eventNestedGrid {
    grid-area: eventInfo;
    text-align: center;
    display: grid;
    grid-row-gap: var(--margin);
    grid-column-gap: var(--margin);
    grid-template-columns: 1fr;
    grid-template-areas:
        'date'
        'price'
        'opens'
}

.date {
    grid-area: date;
}

.price {
    grid-area: price;
}

.presale {
    grid-area: presale;
}

opens {
    grid-area: opens;
}

.hide {
    display: none;
}

.sortFlex {
    cursor: pointer;
    grid-area: sort_by;
    display: flex;
    justify-content: center;
    align-content: center;
}

.eventlistener1 {
    background-color: var(--secondary-color);
    border-radius: 25px;
}

.eventlistener1 h2 {
    padding: 0 10px 0 10px;
}

.eventsTitle {
    grid-area: title;
    text-align: center;
}

footer {
    background-color: var(--third-color);
    box-sizing: border-box;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'footerImg address'
        '. telephone'
}

.footerMusikcafeen {
    grid-area: footerImg;
}

.address {
    grid-area: address;
}

.telephone {
    grid-area: telephone;
}

.footerFlex {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footerImgFlex {
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-items: center;
}
